@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;1,700&display=swap');
$primary: #4b4e53;
$secondary: #ffffff;
$ternary: #272727;
$fw-thin:300;
$fw-medium:400;
$fw-bold:700;
$mobile:576px;
$tablet:767px;
$tablet-hor:992px;
$mini-desktop:1200px;
$desktop:1440px;
*,
*:before,
*:after {
	box-sizing: border-box;
}
img {
    display: block;
    width: 100%;
    height: auto;
  }
  li {
    list-style: none;
  }
a,
button {
    font-family: 'Poppins', sans-serif;
    font-size: inherit;
    line-height: inherit;
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    text-decoration: none;
    color: $primary;
}
body {
	font-family: 'Poppins', sans-serif;
	font-weight: $fw-medium;
  font-style: normal;
  color: $primary;
}
.container {
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
}
.container-full {
    width: 100%;
    margin: 0 auto;
}
.navbar{
  display: flex;
  flex-direction: row;
  align-items: center;
  background: transparent;
  // box-shadow: 0 5px 20px rgba($color: #000000, $alpha: 0.2);
  padding: 10px 50px;
}
.logo {
  max-width: 200px;
}
.push-left {
  margin-left: auto;
}
.hamburger {
  background: transparent;
  border: none;
  cursor: pointer;
  display: none;
  outline: none;
  height: 30px;
  position: relative;
  width: 30px;
  z-index: 1000;
  @media screen and (max-width: $tablet-hor){
    display: inline-block;
  }
  &-line {
    background: $secondary;
    height: 3px;
    position: absolute;
    left: 0;
    transition: all .2s ease-out;
    width: 100%;

    .hamburger:hover & {
      background: #777;
    }

    &-top {
      top: 3px;
    }

    .menu-active &-top {
      top: 50%;
      transform: rotate(135deg) translatey(50%);
    }

    &-middle {
      top: 50%;
      transform: translateY(-50%);
    }
    .menu-active &-middle {
      left: 50%;
      opacity: 0;
    }

    &-bottom {
      bottom: 3px;
    }

    .menu-active &-bottom {
      bottom: 50%;
      transform: rotate(45deg) translateY(50%);
    }
  }
}

.nav-menu {
  display: flex;
  transition: all .25s ease-in;

  @media screen and (max-width:$tablet-hor) {
    background: $primary;
    flex-direction: column;
    justify-content: center;
    opacity: 0;
    position: absolute;
    top: 60px;
    right: 0;
    left: 0;
    bottom: 0;
    transform: translatey(-100%);
    text-align: left;
    height: 450px;
    z-index: 50;

    .menu-active & {
      transform: translateY(0%);
      opacity: 1;
    }
  }

  .menu-item a {
    color: rgba(255,255,255,.7);;
    display: block;
    line-height: 30px;
    margin: 0 15px;
    text-transform: uppercase;
    font-weight: $fw-medium;
    font-size: 14px;

    &:hover {
      color: $secondary;
    }

    @media screen and (max-width:$tablet-hor) {
      font-size: 20px;
      margin: 8px;
      z-index: 51;
    }
  }
}
.active-page {
  position: relative;
}
.active-page a {
  color: $secondary !important;
}
.active-page::after {
  content: "";
  position: absolute;
  width: 75%;
  height: 2px;
  background-color: $secondary;
  top: 35px;
  left: 15%;

  @media screen and (max-width:$tablet-hor) {
    width: 0;
  }

}

.home-header {
    height: 600px;
    background-color: #303236;
    text-align: center;
  }
  .header-title {
    padding: 50px 0;
  
    h1 {
      font-size: 30px;
      color: $secondary;
      font-weight: $fw-thin;
      line-height:36px;
      letter-spacing: 10px;
  
      div {
        font-weight: $fw-bold;
        display: inline;
        text-transform: uppercase;
      }
    }
  }
  .header-desc {
    color: $secondary;
    font-size: 12px;
  
    span {
      padding: 0 5px;
      text-transform: uppercase;
    }
  }
  .btn {
    display: block;
    transition: all 0.15s ease;
    text-transform: uppercase;
    text-decoration: none;
    color: $secondary;
    padding: 15px 25px;
    font-size: 16px;
    font-weight: $fw-thin;
    text-align: center;
    background-color: transparent;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid $secondary;
  
    &:hover{
      background: $primary;
      border:1px $primary solid;
    }
  }
  
  .header-button {
    width: 180px;
    margin-top: 50px;
  }

  .section-title {
    text-align: center;
    padding: 30px 0;
    
    h2 {
      font-weight: $fw-thin;
      font-size: 30px;
      line-height: 30px;
      text-transform: uppercase;
      color: $primary;
  
      span {
        font-weight: $fw-bold;
      }
    }
  }
// masonary
.grid-layout {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-auto-rows: 300px;
  grid-auto-flow: row dense;
  grid-gap: 0px;
}
.grid-layout .masonary-big{
  grid-row-end: span 3;
}
.grid-layout .masonary-medium {
  grid-row-end: span 2;
}
.masonary-img  {
  // position: relative;
	background: rgba(0,0,0,.2);
	overflow: hidden;
	padding: 0;
	display: flex;
	align-items: stretch;
	justify-content: center;
}
.masonary-img a {
  display: block;
  position: relative;
  width: 100%;
}
.masonary-img img {
	width: 100%;
	height: 100%;
	display: block;
	object-fit: cover;
	object-position: center;
	transition: all .5s;
}
.masonary-img:hover img {
	cursor: pointer;
	transform: scale(1.3);
}
.masonary-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: rgba(0, 0, 0, 0.85);
}
.masonary-overlay .overlay-text{
  color: $secondary;
  font-size: 20px;
  font-weight: $fw-bold;
  position: absolute;
  top: 50px;
  left: 15%;
  transform: translate(-15%, -15%);
  text-align: left;

  span {
    font-size: 14px;
    font-weight: $fw-thin;
    color: #bbbbbb;
    
  }
}
.masonary-img:hover .masonary-overlay {
  opacity: 1;
}
.our-works-btn {
  color: $primary;
  padding: 35px 0;
  background-color: #eee;
  border: none;
  font-size: 20px;

  &:hover {
    background:#dedede;
    text-decoration: underline;
    border: none;
  }
}

//  iconmaps
.icon-map {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0;
}
.icon-map-mockup {
  width: 90%;
  height: auto;
}
.icon-map-context {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 20px;
  order: -1;
}
.icon-map-title {
  position: relative;
  padding-top: 0;

  h2 {  
    font-size: 30px;
    text-align: left;
    margin-top: 0;

    span{
    line-height: 36px;
    }
  }

  &::after {
    position: absolute;
    content: "";
    width: 15%;
    height: 3px;
    left: 0;
    top: 55%;
    background-color: $ternary;
  }
}
.icon-map-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 10px;
}
.icon-map-item {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  padding: 15px 0;
}
.icon-map-icon {
  width: 15%; 
  text-align: center;
  i {
    font-size: 36px;
  }
}
.icon-map-text {
  width: 85%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 15px;
}
.icon-map-subtitle {
  font-weight: $fw-bold;
  font-size: 18px;
  text-transform: uppercase;
}
.icon-map-desc {
  color: #7e8082;
  font-size: 14px;
  line-height: 20px;
  padding: 15px 0;
}
// about us
hr {
  margin: 0;
  border: 1px solid #eee;
}
.about-us {
  display: flex;
  flex-direction: column;
}
.about-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.about-img, .about-text {
  width: 100%;
  text-align: center;
}
.about-title {
  position: relative;
  padding: 0;
  width: 90%;
  margin: 20px auto 0;

  h2 {  
    font-size: 36px;
    text-align: left;
    margin-top: 0;

    span{
    line-height: 40px;
    }
  }

  &::after {
    position: absolute;
    content: "";
    width: 15%;
    height: 3px;
    left: 0;
    top: 100%;
    background-color: $ternary;
  }
}
.about-desc {
  width: 95%;
  margin: 20px auto;
  margin-top: 0;
  text-align: left;
  line-height: 25px;
  color: #7e8082;
}
 // our-services

.our-services {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 40px 0;
}
.service-card{
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
  padding: 20px 0;
}
.service-header {
  display: flex;
  align-items: center;
}
.service-icon{
  width: 20%;

  i {
    font-size: 36px;
  }
}
.service-head {
  width: 80%;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.service-title {
  font-size: 18px;
  font-weight: $fw-bold;
}
.service-subtitle {
  font-size: 14px;
  line-height: 28px;
}
.service-text {
  color: #7e8082;
  padding: 20px 0;
  font-size: 14px;
  line-height: 24px;
}
.services-title {
  position: relative;
  padding: 0;

  h2 {  
    font-size: 30px;
    text-align: left;
    margin-top: 0;
    padding-left:20px;

    span{
    line-height: 30px;
    }
  }

  &::after {
    position: absolute;
    content: "";
    width: 2px;
    height: 100%;
    left: 0;
    top: -10px;
    background-color: $ternary;
  }
}
 // Work-Proces

.work-proces {
  width: 100%;
  background: url(../img/work-proc-bg.jpg);
  background-attachment: fixed;
  color: $secondary;
  padding: 70px 0;
}
.work-proces-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 90%;
  margin: 0 auto;
}
.work-proces-head {
  width:99%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.work-proces-title {
  position: relative;
  width: 100%;
  padding: 0;

  h2 {  
    font-size: 30px;
    text-align: left;
    margin-top: 0;
    padding-left: 20px;
    color: $secondary;

    span{
    line-height:30px;
    }
  }

  &::after {
    position: absolute;
    content: "";
    width: 2px;
    height: 100%;
    left: 0;
    top: -10px;
    background-color: $secondary;
  }
}
.work-proces-desc {
  width: 100%;
  font-size: 14px;
  font-weight: $fw-thin;
  line-height: 20px;
  color: #bbbbbb;
  padding: 30px 0;
}
.work-proces-list {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.work-proces-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 30px 0;
}
.work-proces-icon{
  width: 20%;
  text-align: left;

  i {
    font-size: 36px;
    color: $secondary;
  }
}
.work-proces-text {
  width: 80%;
}

.work-proces-subtitle {
  font-weight: $fw-bold;
  text-transform: uppercase;
  font-size: 18px;
}
.work-proces-info {
  font-size: 14px;
  text-transform: uppercase;
  color: #bbbbbb;
  padding-top: 14px;
}
// Packages
.packages {
  padding: 50px 0;
}
.packages-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.packages-img, .packages-content {
  width: 95%;
  margin: 10px auto;
}
.packages-btn {
  width: 150px;
  color: #7a7b80;
  border: 1px solid #7a7b80;
  margin-left: 0;

  &:hover {
    color: $secondary;
  }
}
.packages-title {
  position: relative;
  padding-top: 0;
  padding-bottom: 30px;
  width: 80%;
  margin: 0;

  h2 {  
    font-size: 45px;
    text-align: left;
    margin-top: 0;

    span{
    line-height: 60px;
    }
  }

  &::after {
    position: absolute;
    content: "";
    width: 20%;
    height: 3px;
    left: 0;
    top: 60%;
    background-color: $ternary;
  }
}
.packages-desc {
  color: #7a7b80;
  line-height: 24px;
  padding-bottom:  30px;
}

// Video
.video {
    width: 100%;
    background: url(../img/work-proc-bg.jpg);
    background-attachment: fixed;
    color: $secondary;
    padding: 100px 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .video-text {
    font-size: 36px;
    font-weight: $fw-thin;
    text-transform: uppercase;
  }
  .video-btn {
    padding: 20px;
    i {
      font-size: 84px;
      padding: 0 20px;
      color: $secondary;
      transition: all .25s ease-in;
    }
  
    &:hover i {
      color: $primary;
    }
  }
// Counter
.counter-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 50px 0;
}
.counter-item {
  width: 49%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  border-right: 1px solid #dadada;

  span {
    font-size: 14px;
    padding: 20px 0;
    text-transform: uppercase;
  }

  &:last-child {
    border: none;
  }
}
.counter {
  font-size: 45px;
  line-height: 45px;
  margin-top: 17px;
  font-weight: $fw-thin;
  color: $primary;
}

// Back to top

#back-to-top {
  position: fixed;
  bottom: 40px;
  right: 20px;
  z-index: 9999;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  background: #f5f5f5;
  color: $primary;
  cursor: pointer;
  border: 0;
  border-radius: 50%;
  text-decoration: none;
  transition: opacity 0.2s ease-out;
  opacity: 0;
}
#back-to-top:hover {
  background: #e9ebec;
}
#back-to-top.show {
  opacity: 1;
}
// email
.email {
  background-color: #eee;

  .container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 50px 0;

    .email-icon {
      text-align: center;
      font-size: 80px;
      color: $primary;
    }

    form {
      width:90%;
      display: flex;
      flex-direction: column;
      justify-content: space-around ;

      input {
        border: none;
        border-bottom: 1px solid $primary;
        background: transparent;
        width: 80%;
        font-size: 18px;
        margin: 30px auto;

        &:focus {
          outline: transparent;

          
          &::placeholder {
          color: #bbbbbb;
          }
       }

      }

      .subscribe-btn {
        background-color: $primary;
        padding: 15px 30px;

        &:hover {
          background-color: $ternary;
        }
      }
    }
  }
}
// Home contact info
.home-contact {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 80px 0;
}
.home-contact-item {
  width: 95%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.home-contact-icon {
  width: 15%;

  i {
    font-size: 30px;
    color: $primary;
  }
}
.home-contact-info {
  border-left: 1px solid #bbbbbb;
  padding: 15px 0 15px 15px;
  width: 80%;
}
.home-contact-title {
  font-weight: $fw-bold;
  line-height: 28px;
  text-transform: uppercase;
}
.home-contact-desc {
  font-size: 12px;
  color: $primary;
  line-height: 20px;

  &:hover {
    color: #bbbbbb;
  }
}
// Call to actioan
.cta {
  background-color: #eee;
  padding: 50px 0;
}
.cta-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.cta-info {
  width: 90%;
  margin: 0 auto;

  .cta-title {
    position: relative;
    padding-top: 0;
  
    h2 {  
      font-size: 30px;
      text-align: left;
      margin-top: 0;
      padding: 20px 0 20px 20px;
  
      span{
      line-height: 40px;
      }
    }
  
    &::after {
      position: absolute;
      content: "";
      width: 2px;
      height: 50%;
      left: 0;
      top: 10px;
      background-color: $ternary;
    }
  }
  .cta-desc {
    color: $primary;
    font-weight: $fw-thin;
    line-height: 24px;
  }
}
.cta-form {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;

  input {
    margin: 20px 0;
    border: none;
    border-bottom: 1px solid $primary;
    background: transparent;
    width: 90%;
    font-size: 18px;

    &:focus {
      outline: transparent;

      &::placeholder {
        color: #bbbbbb;
      }
    }

  }

  select {
    width: 90%;
    margin: 20px 0;
    background-color: transparent;
    outline: transparent;
    border: none;
    border-bottom: 1px solid $primary;
    font-size: 18px;
    color: $primary;

    option {
      background: #eee;

      &:hover {
        background-color: #000;
      }
    }
  }

  textarea {
    width:90%;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid $primary;
    margin: 20px 0;
    font-size: 18px;
    color: $primary;
    

    &:focus {
      outline: transparent;
    }
  }

  .send-btn {
    background-color: $primary;
    padding: 15px 30px;

    &:hover {
      background-color: $ternary;
    }
  }
}
// Footer
.footer {
  text-align: center;
  padding: 50px 0 25px 0 ;
}
.footer-social {
  padding-bottom: 30px;

  .social-icon {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    margin: 20px;

    &:hover {
      color: #bbbbbb;
    }
  }
}

.heart{
  display: inline-block;
  position:relative;
  width:18px;
  height:18px;
  background-color:#ff2737;
  transform:rotate(45deg);
  animation:heartbeat 1.2s linear infinite;
  margin: 0 15px;
}
.heart:before{
  content:" ";
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color:#ff2737;
  transform:translateY(-50%);
  border-radius:50%;
}
.heart:after{
  content:" ";
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color:#ff2737;
  transform:translateX(-50%);
  border-radius:50%;
}
@keyframes heartbeat{
  0%{
    transform:rotate(45deg) scale(1);
  }
  25%{
    transform:rotate(45deg) scale(1);
  }
  30%{
    transform:rotate(45deg) scale(1.4);
  }
  50%{
    transform:rotate(45deg) scale(1.2);
  }
  70%{
    transform:rotate(45deg) scale(1.4);
  }
  100%{
    transform:rotate(45deg) scale(1);
  }
}

// mobile- horizontal 
@media(min-width:$mobile) {
  .grid-layout {
      grid-template-columns: repeat(2, 1fr);
    }
    .icon-map-mockup {
        width: 50%;
      }
}
// tablet-vertical
@media(min-width:$tablet) {
  .header-title {
      padding: 50px 0;
      h1 {
        font-size: 72px;
        color: $secondary;
        font-weight: $fw-thin;
        line-height: 72px;
        letter-spacing: 5px;
        div {
          font-weight: $fw-bold;
          display: inline;
          text-transform: uppercase;
        }
      }
    }
    .header-desc {
      font-size: 18px;
    }
    .icon-map-title {
    
      h2 {
        font-size: 48px;
    
        span{
          display: block;
          line-height: 52px;
        }
      }
    
      &::after {
        width: 15%;
      }
    }
    .icon-map-item {
      width: 47%;
    }
    .about-text {
      margin: 25px 0;
    }
    .about-title {
        position: relative;
        padding-top: 0;
        width: 70%;
        margin: 20px auto;
      
        h2 {  
          font-size: 30px;
      
          span{
            display: block;
            line-height: 36px;
          }
        }
      
        &::after {
          top: 100%;
          width: 13%;
        }
      }
    .about-desc {
      width: 70%;
    }
    .our-services {
      width: 97%;
    }
    .service-card{
      width: 31%;
    }
    .service-header {
      justify-content: space-around;
    }
    .service-head {
      width: 70%;
    }
    .services-title {
    
      h2 {  
        font-size: 30px;
        padding: 30px 0 20px 20px;
    
        span{
          display: block;
          line-height: 40px;
        }
      }
    
      &::after {
        height: 90%;
        top: 0px;
      }
    }
    .work-proces-item {
      width: 50%;
    }
    .counter-item {
      width: 24%;
    }
    .email {
      
      .container{

        flex-direction: row;
        form {
          width: 70%;
          flex-direction: row;
          input {
            width: 60%;
          }
          .subscribe-btn {
            padding: 0 30px;
          }
        }
      }
    }
    .home-contact {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: start;
      width: 90%;
    }
    .home-contact-item {
      width: 50%;
    }

    .cta-form {
      width: 80%;
      margin: 30px auto;
    }
}
@media(min-width:$tablet-hor){
  .grid-layout {
    grid-template-columns: repeat(4, 1fr);
  }
  .icon-map {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 100px 0;
  }
  .icon-map-mockup {
    order: -1;
    width: 32%;
  }
  .icon-map-context {
    width: 68%;
  }
  .icon-map-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 10px;
  }
  .about-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .about-card-second .about-img {
    order: -1;
  }
  .about-img, .about-text {
    width: 50%;
    text-align: center;
  }
  .our-services, .work-proces {
    padding: 80px 0;
  }
  .packages-item {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      color: #000;
    }
    .packages-item:last-child .packages-content {
      order: -1;
    }
    .packages-img, .packages-content {
      width: 47%;
    }
    .video {
      flex-direction: row;
    }
    .home-contact-item {
      width: 33%;
    }
    .cta-container {
      width: 97%;
      flex-direction: row;
    }
    .cta-info {
      width: 47%;
    }
    .cta-form {
      width: 53%;
      input {
        width: 70%;
      }
      select {
        width: 70%;
      }
      textarea {
        width: 70%;
      }
    }
}

// About Us Pages

.breadcumb {
  width: 100%;
  background: url(../img/work-proc-bg.jpg);
  background-attachment: fixed;
  color: $secondary;
  padding: 70px 0;
  .container {
    height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0 20px;

    .breadcumb-title {
      color: $secondary;
      font-size: 24px;
      line-height: 25px;
      letter-spacing: 5px;
      font-weight: $fw-medium;
      text-transform: uppercase;
    }
    .breadcumb-path {
      font-size: 12px;
      letter-spacing: 2px;
      text-transform: uppercase;
      
      a:hover {
        color: $secondary;
        transition: all .2 ease-out;
      }
      .breadcumb-active {
        font-weight: $fw-bold;
        color: $secondary;
      }
    }
  }
}
.navbar{
  background-color: #303236;
}
